$inputPadding: 0.75rem 0.6rem;
$white: #fff;
$black: #000;

@mixin blankPlaceholder {
  :global([class*='supabase-auth-ui_ui-input']) {
    color: #fff;
  }
  ::-webkit-input-placeholder {
    color:transparent;
  }
  :-moz-placeholder {
    color:transparent; 
  }
  ::-moz-placeholder {
    color:transparent; 
  }
  :-ms-input-placeholder {  
    color:transparent;
  }
}

@mixin backGlow {
  -webkit-box-shadow:0px 0px 300px 0px rgba(116,44,19,0.28);
  -moz-box-shadow: 0px 0px 300px 0px rgba(116,44,19,0.28);
  box-shadow: 0px 0px 300px 0px rgba(116,44,19,0.28);
}

.loginFormContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3rem;
  
  .loginForm {
    width: 20rem;
    background-color: #212122;
    padding: 2rem 1.5rem;
    border-radius: 0.7rem;

    @include blankPlaceholder;
    @include backGlow;
   
  }
}


