$inputPadding: 0.75rem 0.6rem;
$white: #fff;
$black: #000;

@mixin blackAndWhiteTheme {
  background-color: $black;
  color: $white;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin affixWrapper {
  :global([class*='ant-input-affix-wrapper']) {
    @include blackAndWhiteTheme;
    border-radius: 0.8rem;
    &:hover {
      color: green;
    }
  }
}

.loginFormContainer {
  width: 18rem;
  position: relative;
  top: 30%;
  .phoneNumberFormItem {
    @include blackAndWhiteTheme;
    .inputTypePhoneNumber {
      padding: $inputPadding;
      @include blackAndWhiteTheme;
    }

    @include affixWrapper;

    :global([id*='phoneNumberArea']) {
      @include blackAndWhiteTheme;
      &::placeholder {
        color: $white;
      }
    }
  }
  .passwordFormItem {
    @include blackAndWhiteTheme;
    .inputTypePassword {
      padding: $inputPadding;
      @include blackAndWhiteTheme;
    }

    @include affixWrapper;

    :global([id*='passwordArea']) {
      @include blackAndWhiteTheme;
      &::placeholder {
        color: $white;
      }
    }
  }
 
  :global([class*='ant-form-item-explain-error']) {
    display: none;
  }
  .submitBtnContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    gap: 1rem;
    .formSubmitBtn {
      @include flexCenter;
      color: #fff;
      background-color: #d46036;
      border-radius: 1.2rem;
      padding: 1.3rem 1rem;
    }
    .formClearBtn {
      color: #fff;
      @include flexCenter;
    }
  }
 
}